:root{
    --txt-bg-while: rgb(255, 255, 255);     /*Былий для фону та тексту*/
    --txt-bg-blue: rgb(33, 150, 243);       /*Блакитний для фону та тексту*/
    --txt-content: rgb(117, 117, 117);      /*Додатковий колір тексту*/
    --bg-light-gray: rgb(245, 244, 250);    /*Світло сірий фон*/
    --txt-a-blinck: rgba(255, 255, 255, 0.6);
}

/*=== Розширена шапка ===*/
.head-h1{
    margin: 0 auto;
    margin-bottom: 30px;
    color: var(--txt-bg-while);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    text-transform: uppercase;

    /*outline: 1px solid blue;*/
}

.head-button{
    display: inline-block;
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;

    background-color: var(--txt-bg-blue);
    color: var(--txt-bg-while);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-weight: 700;
}

.baner{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
/*=== /Розширена шапка ===*/

/*=== блок характеристик ===*/
.text/*, .text h3*/{
    font-size: 14px;
}

.properties{
    display: flex ;
}

.properties .item:not(:last-child){
    margin-right: 30px;
}

.properties .item{
    flex-basis: calc(100% / 4 - 30px);
}

.work-second{
    padding-top: 0;
    padding-bottom: 94px;
}

.properties-title{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.properties-content{
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--txt-content);
}

.title-second{
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.foto-work{
    display: flex;
    flex-wrap: wrap;
}

.foto-work .item{
    flex-basis: calc(100% / 3 -30px);
}

.foto-work .item:not(:last-child){
    margin-right: 30px;
}
/*=== /блок характеристик ===*/

/*=== Карточки сотрудников ===*/
.card{
    display: flex;
}

.card .item{
    flex-basis: calc(100% / 4 - 30px);
}

.card .item:not(:last-child){
    margin-right: 30px;
}

.card-title{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-content{
    margin-top: 0px;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--txt-content);
}

.card-img{
    margin-top: 0;
    margin-bottom: 30px;
}
/*=== /Карточки сотрудников ===*/